/* 유튜브 DB Youtube */
#youtube {
    background: #f1f1f1;
    padding-top: 80px;
    padding-bottom: 130px;
}
/* -유튜브상단 */
#youtube #youtube_top {
    margin-bottom: 70px;
    width: 100%;
}
/* hidden youtube 재생 */
/* #youtube #youtube_top .view_youtube {
    display: none;
} */
#youtube #youtube_top .youtube_info {
    padding: 30px 40px;
    background-color: #fff;
    border-radius: 0 0 12px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#youtube #youtube_top .youtube_info .youtube_date {
    vertical-align: middle;
}
/* span만 넣을때, */
/* #youtube #youtube_top .youtube_info .youtube_date > span {
    font-size: 0.875em;
    color: #777;
    line-height: 0.875em;
} */
#youtube #youtube_top .youtube_info .youtube_date ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#youtube #youtube_top .youtube_info .youtube_date ul li {
    display: inline-block;
    margin-left: 10px;
    font-size: 0.875em;
    color: #777;
    line-height: 0.875em;
}
#youtube_top .youtube_info .youtube_date ul li:not(:first-child)::before {
    content: "|";
    display: inline-block;
    margin-right: 10px;
    font-size: 0.875em;
    vertical-align: top;
}
#youtube #youtube_top .youtube_info .youtube_date ul li span {
    margin-left: 3px;
}
/* -유튜브 하단 */
#youtube #youtube_bot {
    width: 100%;
}
#youtube #youtube_bot > ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* align-items: flex-start; */
}
#youtube #youtube_bot > ul li {
    width: 24%;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    /* background: #fff;
    border-radius: 0 0 12px 12px; */
}
#youtube #youtube_bot > ul li:not(:nth-child(4n)) {
    margin-right: 1.3333%;
}
#youtube #youtube_bot > ul li .youtube_img {
    width: 100%;
    height: auto;
}
#youtube #youtube_bot > ul li img {
    width: 100%;
    height: 100%;
    border-radius: 12px 12px 0 0;
}
#youtube #youtube_bot > ul li .youtube_info {
    border-radius: 0 0 12px 12px;
    background: #fff;
    padding: 18px 20px;
}
#youtube #youtube_bot > ul li .youtube_info .youtube_title {
    width: 240px;
    margin-bottom: 12px;
    font-size: 	0.938em;
    font-weight: 700;
}
#youtube #youtube_bot > ul li .youtube_info .youtube_title h3 {
    /* 너비보다 초과하는 글자 안보이게 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#youtube #youtube_bot > ul li .youtube_info .youtube_date {
    width: 100%;
    vertical-align: middle;
}
/* span만 넣을때, */
#youtube #youtube_bot .youtube_info .youtube_date > span {
    font-size: 0.875em;
    color: #777;
    line-height: 0.875em;
}
#youtube #youtube_bot .youtube_info .youtube_date ul {
    width: 100%;
    height: 22px;
    line-height: 0.875em;
}
#youtube #youtube_bot .youtube_info .youtube_date ul li {
    width: 40%;
    display: inline-block;
    font-size: 0.875em;
    color: #777;
    /* margin-right: 10px; */
    line-height: 0.875em;
}
#youtube #youtube_bot .youtube_info .youtube_date ul li:first-child::after {
    content: "|";
    display: inline-block;
    margin-left: 10px;
    font-size: 0.875em;
    vertical-align: top;
}


/* 사진 DB Photo */
#photo {
    width: 100%;
    background: #f1f1f1;
    padding-top: 80px;
    padding-bottom: 130px;
    position: relative;
}
#photo .photo_main {
    width: 100%;
}
#photo .photo_main .photo_category {
    position: absolute;
    width: 1200px;
    margin: 0 auto;
    padding: 22px 30px;
    background-color: #fff;
    border-radius: 36px;
    top: -32px;
    box-shadow: 2px 3.5px 29px 0 rgb(15 16 16 / 3%);
}
#photo .photo_main .photo_category .photo_selector {
    display: flex;
}
#photo .photo_main .photo_category .photo_selector label {
    position: relative;
    top: -1px;
    font-size: 0.813em;
    letter-spacing: -.02em;
    color: #222;
    margin-right: 16px;
}
#photo .photo_main .photo_category .photo_selector .photo_selected .photo_text {
    display: none;
}
#photo .photo_main .photo_category .photo_selector .photo_selected select {
    width: 12.5rem;
    padding-right: 15px;
    border: 0;
    font-size: 1.000em;
    font-weight: 700;
    color: #011241;
    appearance: none;
    background-image: url('/public/images/select_arrow.png');
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: 8px 13px;
    cursor: pointer;
    background-color: transparent;
}
#photo .photo_main > ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* align-items: flex-start; */
}
#photo .photo_main > ul li {
    width: 24%;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
#photo .photo_main > ul li:not(:nth-child(4n)) {
    margin-right: 1.3333%;
}
#photo .photo_main > ul li a {
    height: 100%;
}
#photo .photo_main > ul li .photo_img {
    width: 100%;
    height: auto;
    /* height: 68%; */
}
#photo .photo_main > ul li img {
    width: 100%;
    height: 100%;
    border-radius: 12px 12px 0 0;
}
#photo .photo_main > ul li .photo_info {
    border-radius: 0 0 12px 12px;
    background: #fff;
    padding: 18px 20px;
}
#photo .photo_main > ul li .photo_info .photo_title {
    width: 240px;
    margin-bottom: 12px;
    font-size: 	0.938em;
    font-weight: 700;
}
#photo .photo_main > ul li .photo_info .photo_title h3 {
    /* 너비보다 초과하는 글자 안보이게 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#photo .photo_main > ul li .photo_info .photo_date {
    width: 100%;
    vertical-align: middle;
}
#photo .photo_main .photo_info .photo_date > span {
    font-size: 0.875em;
    color: #777;
    line-height: 0.875em;
}
/* -경기장면 클릭시 */
/* -응원장면 클릭시 */
#photo #cheering_page {
    display: none;
}


/* 포토상세페이지 detailPhoto */
#detail_photo {
    background: #f1f1f1;
    padding-top: 80px;
    padding-bottom: 130px;
    min-height: calc(100vh - 29.75rem);
}
#detail_photo .inner {
    position: relative;
    margin: 4px auto 0;
}
#detail_photo article .detail_photo_title {
    width: 100%;
    background-color: #fff;
    border-radius: 12px;
    margin-bottom: 20px;
    padding: 20px 30px;
}
#detail_photo article .detail_photo_title h2 {
    font-size: 1.250em;
    color: #222;
    font-weight: 700;
}
#detail_photo article > table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
}
#detail_photo article > table thead th {
    width: 100%;
    min-height: 50px;
    background-color: #fff;
    padding: 20px 30px;
    text-align: left;
    font-size: 	0.875em;
    color: #999;
    vertical-align: middle;
    line-height: 1.4;
    border-bottom: 1px solid #e5e5e5;
}
#detail_photo article > table thead tr:first-child th:first-child {
    border-top-left-radius: 12px;
}
#detail_photo article > table thead tr:first-child th:last-child {
    border-top-right-radius: 12px;
}
#detail_photo article > table td:last-child, #detail_photo article > table th:last-child {
    border-right: 0;
}
#detail_photo article > table thead th, #detail_photo article > table thead th a {
    font-size: 0.875em;
    color: #222;
    font-weight: 700;
}
#detail_photo article > table thead th > ul > li {
    display: inline-block;
    margin-right: 20px;
    color: #999;
    /* vertical-align: middle; */
    /* position: relative; */
}
#detail_photo article > table thead th > ul> li span {
    color: #222;
    margin-right: 10px;
}
#detail_photo article > table thead th > ul> li:not(:last-child):after {
    /* content: "";
    width: 1.5px;
    height: 14px;
    position: absolute;
    top: 0;
    left: 40px;
    background: #999; */
    /* content: "|"; */
    content: "│";
    display: inline-block;
    margin-left: 20px;
}
#detail_photo article > table tbody {
    width: 100%;
    background: #fff;
}
#detail_photo article > table tbody .photo_content {
    width: 100%;
    padding: 40px 30px;
    text-align: left;
    border-radius: 0;
}
#detail_photo article > table tbody .photo_content, #detail_photo article > table tfoot td {
    word-break: break-all;
    height: 64px;
    font-size: 14px;
    color: #222;
    font-weight: 400;
    line-height: 1.6;
    vertical-align: middle;
}
#detail_photo article > table > tbody .photo_content > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#detail_photo article > table > tbody .photo_content > div img {
    max-width: 100%;
    height: auto;
}
#detail_photo article > table > tfoot {
    background: #fff;
    text-align: center;
}
#detail_photo article > table > tfoot td {
    border-top: 1px solid #e5e5e5;
    border-radius: 0 0 12px 12px;
    padding: 30px 0;
}
/* https://developer.mozilla.org/ko/docs/Web/HTML/Element/button */
#detail_photo article > table > tfoot button {
    width: 130px;
    height: 40px;
    line-height: 40px;
    background-color: #011b47;
    border: none;
    border-radius: 0.375rem;
    outline: none;
    text-align: center;
    font-size: 1em;
    font-weight: 700;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    background-image: linear-gradient(to top left,
    rgba(0, 0, 0, .2),
    rgba(0, 0, 0, .2) 30%,
    rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
    inset -2px -2px 3px rgba(0, 0, 0, .6);
}
#detail_photo article > table > tfoot button:hover {
    background-color: #011b47c7;
}
#detail_photo article > table > tfoot button:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}