.teamTab {
    padding-top: 6%;
}
.teamHeader {
    /* background: #03662c; */
    background: #166c35;
    padding: 65px 0 50px 75px;
    height: 200px;
    text-align: center;
    color: #fff;
}
.teamHeader h3 {
    font-size: 1.563em;
    padding-bottom: 1%;
}
.teamHeader p {
    font-size: 0.8125em;
    letter-spacing: 1.5px;
}
.inner2 {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    height: 100%;
    text-align: center;
}
.position_name h4 {
    padding: 0px 0px 20px 0;
}
/* player 선수 */
.teamContent .playerTab {
    width: 100%;
    height: 100%;
}
.teamContent .playerTab > div:nth-child(1) > ul {
    display: flex;
    /* justify-content: space-around; */
    padding: 22px 30px;
    background-color: #fff;
    border-radius: 36px;
    position: relative;
    top: -32px;
    box-shadow: 2px 3.5px 29px 0 rgb(15 16 16 / 3%);
    font-weight: 600;
    text-align: center;
}
.teamContent .playerTab > div:nth-child(1) > ul li {
    width: 10%;
    line-height: 1em;
}
.playerTab > div:nth-child(1) > ul li:not(:last-child) {
    border-right: 1px solid #ccc;
}
.teamContent .playerTab > div:nth-child(1) > ul li:nth-child(1) {
    margin-left: 28.5%;
}
.teamContent .playerTab .active {
    border: 1px solid #166c35;
    background: #166c35;
    color: #fff;
}
.teamContent .playerTab > div {
    background: #f1f1f1;
}
.teamContent .playerTab .teamList {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    /* 이걸로 주면 items의 항목이 한 줄에 4개가 아닐때는 양옆으로(끝과 끝) 떨어짐.. */
    align-items: center;
    padding-bottom: 80px;
}
.teamContent .playerTab .teamList > li {
    width: 30%;
    margin-bottom: 5%;
    background: #fff;
    /* height: 15rem; */
    border-radius: 15px;
    overflow: hidden;
}
.teamContent .playerTab .teamList > li:not(:nth-child(3n)) {
    margin-right: 5%;
}
.playerTab .teamList > li .teamList_img {
    width: 100%;
    padding-top: 10px;
}
.teamContent .playerTab .teamList img {
    width: 50%;
    vertical-align: bottom;
}
.teamList .teamList_text {
    text-align: center;
    background: #ccc;
    font-weight: 600;
}
.teamList .teamList_text .num {
    font-size: 0.813em;
    color: #166c35;
}
.teamList .teamList_text > p {
    font-size: 1.250em;
    font-weight: 600;
}
.teamList .teamList_text .position {
    font-size: 1.000em;
    color: #fff;
    font-weight: 500;
}
#army {
    padding-bottom: 200px;
}
/* 선수 상세페이지 */
.playerDetailWrap {
    width: 100%;
    /* height: 80vh; */
    /* height: 65vh; */
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 80px;
}
.playerDetailWrap .detailBox {
    width: 100%;
    height: 590px;
    /* height: 100%; */
    /* background: url('/public/images/player_desc2.png') center center / contain no-repeat;     */
    background: url('/public/images/player_desc2.png') center center / cover no-repeat;    
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
.detailBox .detailInfoWrap {
    padding: 50px 0 0 60px;
    /* height: 66.704%; */
}
.detailBox .detailInfoWrap .detailInfo1 {
    text-shadow: 1px 1px 3px #000;
    font-weight: 700;
}
.detailInfo1 p:nth-child(1) {
    font-size: 3.125em;
    color: #03662c;
    font-style: italic;
}
.detailInfo1 p:nth-child(2) {
    font-size: 3.75em;
    color: #fff;
}
.detailInfo1 p:nth-child(3) {
    font-size: 2.875em;
    color: #999;
}
.detailBox .detailInfoWrap .detailInfo2 {
    margin-top: 130px;
}
.detailInfo2 strong, .detailInfo2 p {
    font-size: 20px;
}
.detailInfo2 p {
    line-height: 2;
}
.detailBox strong, .detailBox p {
    color: #fff;
}
.detailInfo2 p:first-child strong {
    display: inline-block;
    letter-spacing: 4.5px;
}
.detailInfo2 p:last-child strong {
    display: inline-block;
    letter-spacing: 12px;
}
.detailInfo3 {
    padding-top: 61px;
    /* width: 100%; */
    width: 40%;
    height: 749.59px;
}
.detailInfo3 img {
    /* width: 40%; */
    position: static;
    width: 85%;
    transform: translateY(0);
}
.detailInfo4 {
    display: flex;
    color: #000;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    border: 1px solid #c5c5c5;
    border-top: none;
    padding: 50px;
}
.detailInfo4 li {
    display: flex;
    align-items: center;
}
.detailInfo4 li:first-child {
    color: #222;
    font-size: 2.000em;
    font-weight: 700;
}
.detailInfo4 li:not(:first-child)::before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 70px;
    background: #c5c5c5;
    margin: 0 60px;
}
.detailInfo4 li p:first-child {
    font-size: 1.375em;
    color: #444;
    font-weight: 600;
}
.detailInfo4 p {
    text-align: center;
}
.detailInfo4 li p:last-child strong {
    font-size: 40px;
    color: #03662c;
}
.detailInfo4 li p:last-child {
    font-size: 2.250em;
    color: #666;
}
.detailInfo4 p {
    text-align: center;
}
.playerScore {
    margin-top: 50px;
}
.playerScore h3 {
    background: url('/public/images/sub_title_bg.png') 30px / contain no-repeat;
    /* background-position: 30px; */
    background-size: 13px 18px;
    position: relative;
    display: block;
    width: 30%;
    margin-bottom: 16px;
    padding: 20px 20px 20px 60px;
    background-color: #ccc;
    border-radius: 12px;
    text-align: left;
    font-size: 20px;
    color: #222;
    font-weight: 700;
    line-height: 1.4;
    /* vertical-align: middle; */
}
.playerScore table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    margin-top: 20px;
}
.playerScore table thead th {
    font-size: 1.000em;
    color: #222;
    /* font-weight: 700; */
    background: #f8f8f8;
    font-weight: 500;
    border: 1px solid #ccc;
    border-top-color: #03662c;
    min-height: 50px;
    padding: 18px 0;
    text-align: center;
    line-height: 1.4;
    border-right: 1px solid #e5e5e5;
    vertical-align: middle;
}
.playerScore table thead th:first-child {
    border-left: none;
} 
.playerScore table thead th:last-child {
    border-right: none;
} 
.playerScore table tbody tr td {
    border: 1px solid #ccc;
    border-right: 1px solid #e5e5e5;
    padding: 18px 0;
    text-align: center;
}
.playerScore table tbody tr td:first-child {
    border-left: none;
} 
.playerScore table tbody tr td:last-child {
    border-right: none;
} 


/* 코칭스태프 */
.coach {
    width: 100%;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 130px;
}
/* -감독님 */
.coach #director {
    height: 620px;
    background: url('/public/images/coach_desc4.png') center center / cover no-repeat;        
    color: #fff;
    display: flex;
    /* justify-content: space-around; */
    line-height: 1.6;
    font-size: 1.000em;
    position: relative;
    overflow: hidden;
}
#director .coachProfile {
    width: 45%;
    margin-top: 45px;
    margin-left: 60px;
}
#director .coachProfile .profile_area {
    min-height: auto;
    line-height: 2;
    margin-bottom: 30px;
}
#director .coachProfile .profile_area h4 {
    background: url('/public/images/sub_title_bg.png') left center/ contain no-repeat;
    background-size: 13px 20px;
    padding-left: 15px;
}
#director .coachProfile .profile_area > div {
    border-left: 3px solid #fff;
    padding-left: 20px;
    margin-bottom: 5px;
}
#director .coachProfile .profile_area > div p:nth-child(1) {
    font-weight: 700;
    font-size: 3.75em;
    line-height: 60px;
    margin-bottom: 10px;
}
#director .coachProfile .profile_area > div p:nth-child(2) {
    font-size: 1.750em;
    line-height: 1.75em;
}
#director .coachProfile .profile_area > div p:nth-child(3) {
    font-weight: 700;
    font-size: 1.750em;
    line-height: 1.75em;
}
#director .coachProfile .profile_area ul {
    font-size: 1.00em;
}
#director .coachProfile .profile_area ul li span{
    min-width: 70px;
    display: inline-block;
}
#director .coachImg {
    position: absolute;
    bottom: -10px;
    right: 100px;
    width: 43%;
}
#director .coachImg img {
    width: 100%;
}
#director .coachProfile .career h4 {
    margin-bottom: 15px;
    padding-bottom: 15px;
    display: inline-block;
    font-size: 20px;
    border-bottom: 1px solid rgba(255,255,255,.5);
    width: 400px;
}
#director .coachProfile .career h4 {
    background: url('/public/images/sub_title_bg.png') left 2px/ contain no-repeat;
    background-size: 13px 26px;
    padding-left: 15px;
    vertical-align: top;
}
#director .coachProfile .career ul {
    line-height: 1.6;
    font-size: 1.00em;
}
#director .coachProfile .career ul li span {
    display: inline-block;
    min-width: 130px;
}
/* -코치 */
#coaches {
    width: 100%;
    margin-top: 40px;
}
#coaches > ul {
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
}
#coaches > ul > li {
    height: 870px;
    width: 32%;
}
#coaches > ul > li:not(:last-child) {
    margin-right: 2%;
}
#coaches .coachProfile {
    height: 100%;
    border: 1px solid #ccc;
}
#coaches .coachProfile .coachImg {
    background: #ebecef;
    text-align: center;
    padding-top: 20px;
    width: 100%;
    margin-bottom: 20px;
}
#coaches .coachProfile .coachImg img {
    vertical-align: bottom;
    width: 90%;
}
#coaches .coachProfile .profile_area div{
    margin-bottom: 25px;
    padding-left: 15px;
    border-left: 5px solid #111;
}
#coaches .coachProfile .profile_area div p:nth-child(1){
    margin-bottom: 10px;
    font-size: 2.0em;
    line-height: 32px;
    font-weight: 700;
}
#coaches .coachProfile .profile_area div p:nth-child(2){
    font-size: 0.75em;
    color: #999;
}
#coaches .coachProfile .profile_area div p:nth-child(3){
    font-size: 1.125em;
    line-height: 18px;
    color: #656565;
}
#coaches .coachProfile  h4, #coaches .coachProfile  ul {
    padding-left: 15px;
}
#coaches .coachProfile  h4 {
    margin-bottom: 15px;
    background: url('/public/images/sub_title_bg.png') left 2px/ contain no-repeat;
    background-size: 13px 20px;
    padding-left: 15px;
    margin-left: 5px;
}
#coaches .coachProfile .profile_area {
    margin-bottom: 10px;
}
#coaches .coachProfile .profile_area ul {
    font-size: 1.00em;
}
#coaches .coachProfile .profile_area ul li span{
    min-width: 70px;
    display: inline-block;
}
#coaches .coachProfile .career ul {
    line-height: 1.6;
    font-size: 1.00em;
}
#coaches .coachProfile .career ul li {
    width: 98%;
}
#coaches .coachProfile .career ul li span {
    display: inline-block;
    min-width: 150px;
}


/* 지원스태프 */
.staffList {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin: 80px 0;
    text-align: center;
}
.staffList li {
    width: 24%;
    margin-bottom: 40px;
    border-radius: 12px;
    border: 1px solid #ebecef;
    overflow: hidden;
}
.staffList li:not(:nth-child(4n)) {
    margin-right: 1.3333%;
}
.staffList .staffList_img {
    background: #ebecef;
    overflow: hidden;
    width: 100%;
}
.staffList .staffList_img img {
    width: 80%;
    vertical-align: bottom;
}
.staffList .staffList_text {
    text-align: center;
    padding: 20px 0;
    font-size: 1.063em;
    font-weight: 600;
}
.staffList .staffList_text p:nth-child(2) {
    width: 100%;
    margin-top: 8px;
    font-size: 0.813em;
    line-height: 0.813em;
    color: #999;
    font-weight: 500;
    padding-right: 10px;
}
.staffList .staffList_text p:nth-child(2) img {
    width: 10%;
    vertical-align: middle;
}


/* 응원단 */
/* - 응원단장/아나운서 */
.cheer {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 130px;
    background: #f1f1f1;
}
.cheer .cheerleading {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.cheer .cheerleading .cheer_Captain, .cheer .cheerleading .cheer_announcer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}
.cheer_Captain img, .cheer_announcer img {
    width: 100%;
}
.cheer_text p:nth-child(1) {
    font-size: 1.688em;
    margin-bottom: 8px;
    font-weight: 600;
    margin-bottom: 15px;
    text-align: center;
}
.cheer_text p:nth-child(1) span {
    vertical-align: bottom;
    font-size: 1.7em;
    font-weight: 600;
    color: #03662c;
}
.cheer_text p:nth-child(2) {
    width: 300px;
    text-align: center;
    padding: 8px 0;
    border-top: 2px solid #03662c;
    border-bottom: 2px solid #03662c;
}
.cheer_text p:nth-child(2) span {
    letter-spacing: 4px;
}
/* - 치어리더 */
.cheerleaders {
    text-align: center;
    margin-top: 60px;
}
.cheerleaders h3 {
    font-style: normal;
    display: block;
    font-size: 2.625em;
    font-weight: 700;
    margin-bottom: 20px;
    color: #03662c;
}
.cheerleaders p {
    text-align: center;
    margin: 50px 0 45px;
    font-size: 1.250em;
    line-height: 1.4;
}
.cheerleaders > div {
    position: relative;
    padding-bottom: 200px;
}
.cheerleaders > div ul {
    display: flex;
    align-items: center;
    width: 100%;
}
.cheerleaders > div ul:nth-child(2) {
    position: absolute;
    bottom: 10%;
    left: 10%;
}
.cheerleaders > div ul:nth-child(1) li {
    width: 18%;
}
.cheerleaders > div ul:nth-child(2) li {
    width: 18%;
}
.cheerleaders > div ul li {
    position: relative;
}
.cheerleaders > div ul:nth-child(1) li:hover .hideName {
    display: block;
}
.cheerleaders > div ul:nth-child(2) li:hover .hideName {
    display: block;
}
.cheerleaders > div ul:nth-child(1) li .hideName {
    font-size: 0.813em;
    position: absolute;
    width: 80px;
    height: auto;
    background: #03662c;
    color: #fff;
    padding: 5px;
    top: -20%;
    left: 80%;
    display: none;
    z-index: 2;
}
.cheerleaders > div ul:nth-child(2) li .hideName {
    font-size: 0.813em;
    position: absolute;
    width: 80px;
    height: auto;
    background: #03662c;
    color: #fff;
    padding: 5px;
    bottom: -25%;
    left: 80%;
    display: none;
}



