/* 팀순위, 선수순위 */
#rankTeam {
    background: #f1f1f1;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 130px;
}
#rankPlayer {
    background: #f1f1f1;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 150px;
}
#rankTeam .rank_category, #rankPlayer .rank_category {
    width: calc(100% - 3.75rem);
    /* width: 100%; */
    max-width: 100%;
    margin: 0 auto;
    padding: 1.375rem 1.875rem;
    border-radius: 2.25rem;
    top: -2rem;
    box-shadow: 0.125rem 0.219rem 1.813rem 0 rgb(15 16 16 / 3%);
    background-color: #fff;
    position: relative;
    margin-bottom: 20px;
}
#rankTeam .rank_category div, #rankPlayer .rank_category div {
    display: inline-block;
}
#rankTeam .rank_category .rank_selector .rank_selected, #rankPlayer .rank_category .rank_selector .rank_selected {
    margin-right: 1.25rem;
}
#rankTeam .rank_category .rank_selector > div:last-child, #rankPlayer .rank_category .rank_selector > div:last-child {
    margin-right: 0;
}
#rankTeam .rank_category .rank_selector .rank_selected label, #rankPlayer .rank_category .rank_selector .rank_selected label {
    top: -0.063rem;
    font-size: 0.813em;
    letter-spacing: -0.02em;
    margin-right: 1rem;
}
#rankTeam .rank_category .rank_selector .rank_selected .rank_text, #rankPlayer .rank_category .rank_selector .rank_selected .rank_text {
    display: none;
}
#rankTeam .rank_category .rank_selector .rank_selected select, #rankPlayer .rank_category .rank_selector .rank_selected select {
    width: 12.5rem;
    padding-right: 0.938rem;
    color: #011241;
    font-size: 1em;
    font-weight: 700;
    border: none;
    /* border: 1px solid #e5e5e5; */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('/public/images/select_arrow.png');
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: 8px 13px;
    cursor: pointer;
    background-color: transparent;
    vertical-align: middle;
}
#rankTeam .rank_category .rank_selector .rank_selected:not(:last-child):after, #rankPlayer .rank_category .rank_selector .rank_selected:not(:last-child):after {
    content: "|";
    margin-left: 20px;
    color: #eee;
}
/* - 팀순위 */
#rankTeam .teamR {
    position: relative;
}
#rankTeam .teamR  > section{
    position: relative;
}
#rankTeam .teamR  > section h3 {
    width: 100%;
    display: block;
    position: relative;
    margin-bottom: 16px;
    padding: 20px 20px 20px 60px;
    background-color: #fff;
    background-image: url('/public/images/sub_title_bg.png');
    background-repeat: no-repeat;
    background-position: 30px;
    background-size: 13px 18px;
    border-radius: 12px;
    text-align: left;
    font-size: 20px;
    color: #222;
    font-weight: 700;
    line-height: 1.4;
    /* vertical-align: middle; */
}
#rankTeam .teamR  section:not(:first-child) h3 {
    margin-top: 70px;
}
#rankTeam .teamR > section table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    vertical-align: top;
    table-layout: fixed;
}
#rankTeam .teamR  > section table thead th {
    font-size: 0.875em;
    color: #222;
    font-weight: 700;
    min-height: 50px;
    padding: 18px 0;
    text-align: center;
    line-height: 1.4;
    background-color: #fff;
    border-right: 1px solid #e5e5e5;
    border-bottom: 2px solid #011241;
    vertical-align: middle;
}
#rankTeam .teamR  > section table tbody td {
    word-break: break-all;
    height: 64px;
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
    color: #222;
    font-weight: 400;
    line-height: 1.6;
    background-color: #fff;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    vertical-align: middle;
}
#rankTeam .teamR  > section .data_wrap table th:last-child, #rankTeam .teamR  > section table td:last-child  {
    border-right: 0;
}
#rankTeam .teamR  > section table thead tr:first-child th:first-child {
    border-top-left-radius: 12px;
}
#rankTeam .teamR  > section table tbody tr:last-child td {
    border-bottom: 0;
}
#rankTeam .teamR  > section .table_wrap .table_header thead th:first-child {
    width: 60px;
}
#rankTeam .teamR  > section table thead th:last-child {
    border-top-left-radius: 0;
    border-right: 1px solid #e5e5e5;
}
#rankTeam .teamR  > section table tbody td:last-child {
    border-top-right-radius: 0;
}
#rankTeam .teamR  > section .table_wrap > table {
    display: inline-block;
    width: 200px;
}
#rankTeam .teamR  > section .table_wrap > table thead th {
    font-size: 0.875em;
    color: #222;
    font-weight: 700;
}
#rankTeam .teamR  > section .table_wrap > table thead th:nth-child(2) {
    width: 140px;
}
#rankTeam .teamR  > section .table_wrap .table_header tbody tr:last-child td:first-child {
    border-bottom-left-radius: 12px;
}
#rankTeam .teamR  > section .table_wrap > table td:last-child {
    border-right: 1px solid #e5e5e5;
}
#rankTeam .teamR  .rankTeam_table .table_wrap .data_wrap {
    width: calc(100% - 200px);
    display: inline-block;
}
#rankTeam .teamR  .team_winlose_table .table_wrap .data_wrap {
    width: calc(100% - 200px);
    display: inline-block;
    overflow-y: auto;
}
#rankTeam .teamR  .team_winlose_table .table_wrap .data_wrap table {
    width: 80rem;
}
#rankTeam .teamR  > section .table_wrap .data_wrap table th:first-child {
    border-top-left-radius: 0;
}
#rankTeam .teamR  > section .table_wrap .data_wrap table tr:first-child th:last-child {
    border-top-right-radius: 12px;
}
#rankTeam .teamR  > section .table_wrap .data_wrap table tr:last-child td:last-child {
    border-bottom-right-radius: 12px;
}
#rankTeam .teamR > section .table_wrap table .dbPromy td {
    background-color: #ecf5ef;
    font-weight: 700;
}


/* -선수순위 */
#rankPlayer .rank_player_list .ranking_list .first>div> i {
    position: absolute;
    top: 8px;
    right: 0;
    width: 60px;
    height: 60px;
    display: inline-block;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
}
.icon_emblem_db {
    background-image: url('/public/images/emblem_db.png');
}
.icon_emblem_kt {
    background-image: url('/public/images/emblem_kt.png');
}
.icon_emblem_orion {
    background-image: url('/public/images/emblem_orions.png');
}
/* 고양오리온이 고양캐롯점퍼스로 구단명 변경 */
.icon_emblem_carrot {
    background-image: url('/public/images/emblem_carrot.png');
}
.icon_emblem_samsung {
    background-image: url('/public/images/emblem_samsung.png');
}
.icon_emblem_sk {
    background-image: url('/public/images/emblem_sk.png');
}
.icon_emblem_kgc {
    background-image: url('/public/images/emblem_kgc.png');
}
.icon_emblem_koreagas {
    background-image: url('/public/images/emblem_koreagas.png');
}
.icon_emblem_lg {
    background-image: url('/public/images/emblem_lg.png');
}
.icon_emblem_mobis {
    background-image: url('/public/images/emblem_mobis.png');
}
.icon_emblem_kcc {
    background-image: url('/public/images/emblem_kcc.png');
}
#rankPlayer .body {
    width: 100%;
    margin: 4px auto 0;
    position: relative;
}
#rankPlayer .body section {
    position: relative;
    display: block;
}
#rankPlayer .rank_player_list {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    -webkit-column-gap: 30px;
    column-gap: 30px;
    grid-row-gap: 70px;
    row-gap: 70px;
}
#rankPlayer .rank_player_list .rank_header h3 {
    background-image: url('/public/images/sub_title_bg.png');
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 16px;
    padding: 20px 20px 20px 60px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 30px;
    background-size: 13px 18px;
    border-radius: 12px;
    text-align: left;
    font-size: 20px;
    color: #222;
    font-weight: 700;
    line-height: 1.4;
    /* vertical-align: middle; */
}
#rankPlayer .rank_player_list .rank_header h3 span {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    color: #777;
    cursor: pointer;
}
#rankPlayer .rank_player_list .rank_header h3 span::after {
    content: "";
    display: inline-block;
    width: 6px;
    height: 9px;
    margin-left: 4px;
    background-image: url('/public/images/more-arrow.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    vertical-align: middle;
}
#rankPlayer .ranking_list {    
    background-color: #fff;
    border-radius: 12px;
}
#rankPlayer .ranking_list .first {    
    position: relative;
    width: 100%;
    height: 194px;
    padding: 15px 15px 0;
    overflow: hidden;
}
#rankPlayer .ranking_list .first img {    
    position: absolute;
    top: 20px;
    left: 0;
    width: 200px;
    height: auto;
}
#rankPlayer .ranking_list .first > div {    
    position: absolute;
    bottom: 0;
    right: 15px;
    width: 40%;
    height: 100%;
}
#rankPlayer .ranking_list .first > div .info {    
    margin-top: 76px;
}
#rankPlayer .ranking_list .first > div .info .num {    
    display: block;
    font-size: 1.250em;
    color: #ff4d29;
    font-style: italic;
    font-weight: 700;
}
#rankPlayer .ranking_list .first > div .info .name {    
    display: block;
    font-size: 1em;
    color: #222;
    font-weight: 700;
    margin-top: 4px;
    line-height: 1.4;
}
#rankPlayer .ranking_list .first > div .info .team {
    display: block;
    width: 100%;
    margin-top: 10px;
    font-size: 0.875em;
    color: #777;
    font-weight: 500;
}
#rankPlayer .ranking_list .first > div .info .score {
    display: block;
    width: 100%;
    margin-top: 10px;
    font-size: 0.875em;
    color: #777;
    font-weight: 500;
}
#rankPlayer .ranking_list li.on {
    background-color: #ecf5ef;
}
#rankPlayer .ranking_list>li:not(.first) {
    border-top: 1px solid #e5e5e5;
    padding: 20px 30px;
}
#rankPlayer .ranking_list>li:not(.first).on .num {
    background-color: #03662c;
}

#rankPlayer .ranking_list>li:not(.first) .num {
    display: inline-block;
    width: 26px;
    height: 26px;
    margin-right: 12px;
    /* background-color: #011241; */
    border-radius: 50%;
    text-align: center;
    font-size: 0.875em;
    color: #fff;
    line-height: 26px;
    font-weight: 700;
}
#rankPlayer .ranking_list>li:not(.first) .info .name {
    font-size: 1.125em;
    color: #222;
    font-weight: 700;
    margin-right: 10px;
    vertical-align: middle;
}
#rankPlayer .ranking_list>li:not(.first) .info .team {
    font-size: 0.875em;
    color: #777;
    vertical-align: middle;
}
#rankPlayer .ranking_list>li:not(.first) .info .score {
    float: right;
    margin-top: 6px;
    font-size: 0.875em;
    color: #777;
    font-weight: 500;
}
#rankPlayer .ranking_list>li:not(.first) .num {
    display: inline-block;
    width: 26px;
    height: 26px;
    margin-right: 12px;
    background-color: #011241;
    border-radius: 50%;
    text-align: center;
    font-size: 14px;
    color: #fff;
    line-height: 26px;
    font-weight: 700;
}