/* 리뷰 */
#reviewContents {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
#reviewContents #review {
    margin-bottom: 10px;
}
#reviewContents h3 {
    border-bottom: 2px solid #333;
    font-size: 22px;
    padding: 4px;
    margin-bottom: 20px;
}
#reviewContents #review textarea {
    width: 100%;
    border: 1px solid #bbb;
    outline: none;
    padding: 4px;
    margin-bottom: 10px;
}
#reviewContents #review #reviewBtns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
}
#review_contents #review #reviewBtns .reviewPhoto {
    width: 300px;
}
#review_contents #review #reviewBtns .reviewPhoto input {
    width: 300px;
    padding: 10px 0;
}
#reviewContents #review #reviewBtns #photofile {
    /* padding: 10px 130px;
    height: 50px;
    background-color: #fff;
    border: 1px solid #bbb;
    border-radius: 0;
    outline: none;
    font-size: 16px;
    color: #bbb;
    font-weight: 400; */
    display: inline-block;
    width: 300px;
    padding: 10px 0;
    height: 50px;
    background-color: #fff;
    border: 1px solid #bbb;
    border-radius: 0;
    outline: none;
    font-size: 16px;
    color: #bbb;
    font-weight: 400;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#reviewContents #review #reviewBtns #reviewstar {
    width: 600px;
    height: 46px;
    background-color: #fff;
    border: 1px solid #bbb;
    border-radius: 0;
    outline: none;
    font-size: 22px;
    color: rgb(255, 208, 0);
    font-weight: 400;
}
#reviewContents #review #reviewBtns #reviewBtn {
    width: 250px;
    height: 46px;
    background-color: #166c35;
    border: none;
    outline: none;
    font-size: 16px;
    color: #fff;
    font-weight: 400;
}
#reviewContents #reviewText > ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px;
    margin-bottom: 16px;
    /* position: relative; */
    border: none;
    /* border-bottom: 1px solid #bbb; */
}
#reviewContents #reviewText > ul > li {
    padding-bottom: 10px;
    margin-bottom: 30px;
    /* width: 80%; */
    width: 90%;
    border-bottom: 1px solid #bbb;
    position: relative;
}
/* #reviewContents #reviewText ul li:nth-child(1) {
    display: none;
} */
#reviewContents #reviewText ul li p span {
    color: rgb(255, 208, 0);
    font-size: 22px;
}
/* #reviewContents #reviewText ul li img {
    width: 20%;
} */
/* #reviewContents #reviewText > ul li ul li:nth-child(3) form {
    position: relative;
} */
#reviewContents #reviewText > ul li ul li button {
    position: absolute;
    top: 40px;
    right: 3px;
    border: none;
    background-color: #166c35;
    width: 30px;
    height: 30px;
    color: #fff;
}
#reviewContents #reviewText > ul li ul li button:last-child {
    position: absolute;
    top: 0;
    right: 3px;
    border: none;
    background-color: #166c35;
    width: 30px;
    height: 30px;
    color: #fff;
}
#reviewContents .reviewimg {
    position:absolute; 
    opacity:0;
}
#reviewContents #review form > input {
    width: 70%;
    margin-bottom: 5px;
    border: 1px solid #bbb;
    outline: none;
    padding: 4px;
    margin-bottom: 10px;
}
#reviewContents #reviewText > ul > li {
    width: 100%;
}
#reviewContents #reviewText > ul li ul li:nth-child(2) {
    display: flex;
    justify-content: space-between;
}
#reviewContents #reviewText > ul li ul li:nth-child(2) div:nth-child(1) {
    width: 20%;
}
#reviewContents #reviewText ul li img {
    width: 100%;
}
#reviewContents #reviewText > ul li ul li:nth-child(2) div:nth-child(1) p {
    text-align: center;
    font-weight: 600;
}
#reviewContents #reviewText > ul li ul li:nth-child(2) div:nth-child(1) p span {
    vertical-align: middle;
}
#reviewContents #reviewText > ul li ul li:nth-child(2) div:nth-child(2) {
    width: 56%;
    margin-left: 5%;
}
#reviewContents #reviewText > ul li ul li:nth-child(2) div:nth-child(3) {
    width: 16%;
    margin-left: 3%;
}
#reviewContents #reviewText > ul li ul li:nth-child(2) div:nth-child(3) p {
    padding-top: 10px;
}
#reviewContents .reviewTitle {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 19px;
}
#review .noLogin {
    padding-top: 10px;
    padding-bottom: 60px;
    /* margin-left: 10px; */
    text-align: center;
    font-size: 1.125em;
    letter-spacing: 1.5px;
    color: #166c35;
    font-weight: 600;
}