/* 공지사항 (+뉴스 검색부분)*/
#notice {
    background: #f1f1f1;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 130px;
}
#notice .notice_search, #news .notice_search {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#notice .notice_search button, #news .notice_search button {
    border: none;
    background: #011b47;
    color: #fff;
    border-radius: 5px;
    padding: 6px 10px;
    font-size: 0.875em;
    font-weight: 600;
    text-shadow: 1px 1px 1px #000;
    background-image: linear-gradient(to top left,
    rgba(0, 0, 0, .2),
    rgba(0, 0, 0, .2) 30%,
    rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
    inset -2px -2px 3px rgba(0, 0, 0, .6);
}
#notice .notice_search button:hover, #news .notice_search button:hover {
    background: #011b47c7;
}
#notice .notice_search button:active, #news .notice_search button:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
    inset 2px 2px 3px rgba(0, 0, 0, .6);
}
#notice .notice_search button:nth-child(1) {
    margin-right: 15px;
}
#notice .notice_search, #news .news_search {
    margin: 0 auto;
    text-align: right;
    padding: 60px 0 30px;
}
#notice .notice_search .form_select, #news .news_search .form_select {
    display: inline-block;
}
#notice .notice_search .form_select .text, #news .news_search .form_select .text {
    display: none;
}
#notice .notice_search .form_select select, #news .news_search .form_select select {
    min-width: 130px;
    height: 40px;
    padding: 0 15px;
    background-color: #fff;
    color: #777;
    border: none;
    border-radius: 6px;
    margin-right: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('/public/images/select_arrow.png');
    background-repeat: no-repeat;
    background-position: right 15px center;
    background-size: 8px 13px;
    cursor: pointer;
}
#notice .notice_search input, #news .news_search input {
    display: inline-block;
    width: 220px;
    height: 40px;
    vertical-align: top;
    padding: 0 15px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 6px 0 0 6px;
    font-size: 0.750em;
    color: #777;
}
#notice .notice_search .searchBtn, #news .news_search .searchBtn {
    display: inline-block;
    width: 40px;
    height: 40px;
    vertical-align: top;
    background-color: #011b47;
    border-radius: 0 6px 6px 0;
    background-image: url('/public/images/search_icon.png');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 14px;
}
#notice .notice_table {
    width: 100%;
    text-align: center;
    /* label, 페이지네이션 추가 후 */
    margin-top: 15px;
}
#notice .notice_table table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: auto;
}
#notice .notice_table thead {
    width: 100%;
}
#notice .notice_table thead tr {
    width: 100%;
}
#notice .notice_table thead tr th {
    border-bottom: 2px solid #011b47;
    min-height: 50px;
    padding: 16px 0;
    line-height: 1.4;
    background-color: #fff;
    vertical-align: middle;
    font-size: 0.875em;
    color: #333;
    font-weight: 700;
}
#notice .notice_table thead tr .check {
    width: 5%;
}
#notice .notice_table thead tr th:not(:last-child), #notice .notice_table tbody tr td:not(:last-child) {
    border-right: 1px solid #e5e5e5;
}
#notice .notice_table thead tr th:nth-child(1), #notice .notice_table tbody tr td:nth-child(1) {
    width: 15%;
}
#notice .notice_table thead tr th:nth-child(2), #notice .notice_table tbody tr td:nth-child(2) {
    width: 60%;
}
#notice .notice_table thead tr th:nth-child(3), #notice .notice_table tbody tr td:nth-child(3) {
    width: 10%;
}
#notice .notice_table thead tr th:nth-child(4), #notice .notice_table tbody tr td:nth-child(4) {
    width: 10%;
}
#notice .notice_table table thead tr:first-child th:first-child {
    border-top-left-radius: 12px;
}
#notice .notice_table table thead tr:first-child th:last-child {
    border-top-right-radius: 12px;
}
#notice .notice_table tbody tr td {
    word-break: break-all;
    height: 60px;
    padding: 20px 0;
    font-size: 0.875em;
    color: #333;
    font-weight: 500;
    line-height: 1.5;
    background-color: #fff;
    border-bottom: 1px solid #e5e5e5;
    vertical-align: middle;
}
#notice .notice_table tbody tr td:nth-child(2) {
    text-align: left;
    padding-left: 30px;
    color: #222;
    font-weight: 700;
}
#notice .notice_table table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 12px;
}
#notice .notice_table table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 12px;
}
#notice .notice_table table tbody tr:last-child td {
    border-bottom: none;
}
/* 페이지네이션 */
/* - label 페이지당 게시물 제한 수 */
#notice label {
    margin-left: 10px;
    font-size: 0.875em;
    color: #777;
}
#notice label select {
    margin-left: 5px;
}
/* - 페이지네이션 부모요소 position */
#notice .notice_table .pagenav {
    position: relative;
    height: 80px;
    padding: 30px 0 20px 0;
}

/* 공지 상세페이지 detailNotice */
#detail_notice {
    background: #f1f1f1;
    padding-top: 80px;
    padding-bottom: 130px;
    min-height: calc(100vh - 29.75rem);
}
#detail_notice .inner {
    position: relative;
    margin: 4px auto 0;
}
#detail_notice .inner .noticeBtn {
    margin-bottom: 10px;
    margin-left: 15px;
}
#detail_notice .inner .noticeBtn button {
    width: 100px;
    height: 35px;
    line-height: 35px;
    background-color: #011b47;
    border: none;
    border-radius: 0.375rem;
    outline: none;
    text-align: center;
    font-size: 1em;
    font-weight: 700;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    background-image: linear-gradient(to top left,
    rgba(0, 0, 0, .2),
    rgba(0, 0, 0, .2) 30%,
    rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
    inset -2px -2px 3px rgba(0, 0, 0, .6);
}
#detail_notice .inner .noticeBtn button:hover {
    background-color: #011b47c7;
}
#detail_notice .inner .noticeBtn button:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}
#detail_notice .inner .noticeBtn button:nth-child(1) {
    margin-right: 15px;
}
#detail_notice article .detail_notice_title {
    width: 100%;
    background-color: #fff;
    border-radius: 12px;
    margin-bottom: 20px;
    padding: 20px 30px;
}
#detail_notice article .detail_notice_title h2 {
    font-size: 1.250em;
    color: #222;
    font-weight: 700;
}
#detail_notice article > table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
}
#detail_notice article > table thead th {
    width: 100%;
    min-height: 50px;
    background-color: #fff;
    padding: 20px 30px;
    text-align: left;
    font-size: 	0.875em;
    color: #999;
    vertical-align: middle;
    line-height: 1.4;
    border-bottom: 1px solid #e5e5e5;
}
#detail_notice article > table thead tr:first-child th:first-child {
    border-top-left-radius: 12px;
}
#detail_notice article > table thead tr:first-child th:last-child {
    border-top-right-radius: 12px;
}
#detail_notice article > table td:last-child, #detail_notice article > table th:last-child {
    border-right: 0;
}
#detail_notice article > table thead th, #detail_notice article > table thead th a {
    font-size: 0.875em;
    color: #222;
    font-weight: 700;
}
#detail_notice article > table thead th > ul > li {
    display: inline-block;
    margin-right: 20px;
    color: #999;
    /* vertical-align: middle; */
    /* position: relative; */
}
#detail_notice article > table thead th > ul> li span {
    color: #222;
    margin-right: 10px;
}
#detail_notice article > table thead th > ul> li:not(:last-child):after {
    /* content: "";
    width: 1.5px;
    height: 14px;
    position: absolute;
    top: 0;
    left: 40px;
    background: #999; */
    /* content: "|"; */
    content: "│";
    display: inline-block;
    margin-left: 20px;
}
#detail_notice article > table tbody {
    width: 100%;
    background: #fff;
}
#detail_notice article > table tbody .notice_content {
    width: 100%;
    padding: 40px 30px;
    text-align: left;
    border-radius: 0;
}
#detail_notice article > table tbody .notice_content, #detail_notice article > table tfoot td {
    word-break: break-all;
    height: 64px;
    font-size: 14px;
    color: #222;
    font-weight: 400;
    line-height: 1.6;
    vertical-align: middle;
}
#detail_notice article > table > tbody .notice_content > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#detail_notice article > table > tbody .notice_content > div img {
    max-width: 100%;
    height: auto;
}
#detail_notice article > table > tfoot {
    background: #fff;
    text-align: center;
}
#detail_notice article > table > tfoot td {
    border-top: 1px solid #e5e5e5;
    border-radius: 0 0 12px 12px;
    padding: 30px 0;
}
/* https://developer.mozilla.org/ko/docs/Web/HTML/Element/button */
#detail_notice article > table > tfoot button {
    width: 130px;
    height: 40px;
    line-height: 40px;
    background-color: #011b47;
    border: none;
    border-radius: 0.375rem;
    outline: none;
    text-align: center;
    font-size: 1em;
    font-weight: 700;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    background-image: linear-gradient(to top left,
    rgba(0, 0, 0, .2),
    rgba(0, 0, 0, .2) 30%,
    rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
    inset -2px -2px 3px rgba(0, 0, 0, .6);
}
#detail_notice article > table > tfoot button:hover {
    background-color: #011b47c7;
}
#detail_notice article > table > tfoot button:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}
/* 게시글 등록 */
#uploadBox {
    background: #f1f1f1;
    padding-top: 80px;
    padding-bottom: 120px;
}
#uploadBox .inner {
    margin: 0 auto;
    text-align: center;
    width: 50%;
    flex-flow: column;
    text-align: center;
    justify-content: center;
    /* background: #fff; */
    background: url('/public/images/note.png') center center / cover no-repeat;
    padding: 40px 0;
}
/* 뉴스 등록만 - 다르게 */
#uploadBox .newsUpload {
    margin: 0 auto;
    text-align: center;
    width: 55%;
    flex-flow: column;
    text-align: center;
    justify-content: center;
    background: url('/public/images/note.png') center center / contain no-repeat;
    padding: 40px 0;
}
#uploadBox .newsUpload_form {
    width: 40%;
}
#uploadBox .newsUpload_ul {
    padding: 80px 0 0 0;
}
#uploadBox p {
    font-size: 0.7em;
    color: #777;
    margin-bottom: 20px;
    padding-top: 50px;
}
#uploadBox form {
    width: 60%;
    margin: 0 auto;
}
#uploadBox li:not(:last-child) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 14px;
    /* padding: 0 40px; */
}
#uploadBox label {
    min-width: 100px;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
}
#uploadBox input{
    width: 400px;
    border-radius: 4px;
    border: 1px solid #bbb;
    outline: none;
    padding-left: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#uploadBox textarea{
    width: 400px;
    border: 1px solid #bbb;
    border-radius: 4px;
    cursor: text;
    outline: none;
    resize: none;
    height: 200px;
    /* padding-left: 10px;
    padding-top: 5px; */
}
#uploadBtn button {
    width: 100px;
    height: 35px;
    line-height: 35px;
    background-color: #166c35;
    border: none;
    border-radius: 0.375rem;
    outline: none;
    text-align: center;
    font-size: 1em;
    font-weight: 700;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    background-image: linear-gradient(to top left,
    rgba(0, 0, 0, .2),
    rgba(0, 0, 0, .2) 30%,
    rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
    inset -2px -2px 3px rgba(0, 0, 0, .6);
    margin-top: 35px;
}
#uploadBtn button:nth-child(1) {
    margin-right: 15px;
}
#uploadBtn button:hover {
    background-color: #166c36bc;
}
#uploadBtn button:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}
/* 이미지파일 눈속임 주기 -hidden type */
#uploadBox .imgDiv {
    position: relative; 
    width: 400px;
    text-align: left;
}
#uploadBox .imgView {
    position: absolute; 
    left: 0; 
    top: 0;
    opacity: 0;
    z-index: 5;
}
#uploadBox .imgFile {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #888; 
    border-radius: 5px;
    background: rgba(204, 204, 204, 0.295);
    padding: 6px 20px;
    font-size: 0.875em;
    vertical-align: middle;
}
#uploadBox .imgLabel {
    margin-left: 130px;
    vertical-align: middle;
  }

/* 뉴스 */
/* #news {
    background: #f1f1f1;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 130px;
} */
